{QUESTIONTEXT}
<p>
    {LABEL_VALUE1}<br />
    <span class="solutionbox">{VALUE1}</span>
</p>
<p>
    {LABEL_VALUE2}<br />
    <span class="solutionbox">{VALUE2}</span>
</p>
<p>
    {LABEL_POINTS}<br />
    <span class="solutionbox">{POINTS}</span>
    <!-- BEGIN icon_ok -->
    <img src="{ICON_OK}" alt="{TEXT_OK}" title="{TEXT_OK}" />
    <!-- END icon_ok -->
    <!-- BEGIN icon_not_ok -->
    <img src="{ICON_NOT_OK}" alt="{TEXT_NOT_OK}" title="{TEXT_NOT_OK}" />
    <!-- END icon_not_ok -->
</p>