{QUESTIONTEXT}
<div id="page">
	<div id="mainActions"
		style="width: 100%; padding-top: 8px; padding-left: 24px; padding-bottom: 8px;">
	</div>
	<div id="selectActions"
		style="width: 100%; padding-left: 54px; padding-bottom: 4px;"></div>
	<table border="0" width="730px">
		<tr>
			<td id="toolbar" style="width: 16px; padding-left: 20px;"
				valign="top">
				<!-- Toolbar Here -->
			</td>
			<td valign="top"
				style="border-width: 1px; border-style: solid; border-color: black;">
				<div id="graph" tabindex="-1"
					style="position: relative; height: 480px; width: 684px; overflow: hidden; cursor: default;">
					<!-- Graph Here -->
					<center id="splash" style="padding-top: 230px;">
						<img
							src="./Customizing/global/plugins/Modules/TestQuestionPool/Questions/assMxGraphQuestion/templates/mxgraph/images/loading.gif">
					</center>
				</div> <textarea id="xml"
					style="height: 480px; width: 684px; display: none; border-style: none;"></textarea>
			</td>
		</tr>
	</table>
	<span style="float: right; padding-right: 36px;">
		<input id="source" type="checkbox" /> Zeige XML
		<br/>
		<input id="toggleInput" type="checkbox" /> Vorbelegung bearbeiten
	</span>
	<span style="float: right; padding-right: 36px;"> 
	</span>
	<div id="zoomActions"
		style="width: 100%; padding-left: 54px; padding-top: 4px;"></div>
	<div id="footer">
		<p id="status">
			<!-- Status Here -- Loading... -->
		</p>
		<br />
	</div>
</div>
<input type="hidden" id="initialXML" name="initialXML" value="{INITIAL_XML}" />
<input type="hidden" id="graphXML" name="graphXML" value="{GRAPH_XML}" />
<input type="hidden" id="options" name="options" value="{OPTIONS}" />
<input type="hidden" id="graphHtml" name="graphHtml" value="{GRAPH_HTML}" />
<input type="hidden" id="initialHtml" name="initialHtml" value="{INITIAL_HTML}" />


<script type="text/javascript">
	createEditor('./Customizing/global/plugins/Modules/TestQuestionPool/Questions/assMxGraphQuestion/templates/mxgraph/config/diagrameditor.xml');
</script>